.hedding{
    font-weight: bold;
    font-size: 24px;
    font-family: monospace;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    color: #3f87a6;
}
body {
    background:linear-gradient(180deg,#f25ff7 ,#fca0f7 );
    height: 100vh;
}

.wrapper{
    margin: 10% auto;
    width: 760px !important;
    background-color: #1e201d;
    border-radius: 10px;
    padding: 0 !important;


}

.image {
    width: 22.7em;
    height: 34em;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}